@font-face {
    font-family : "Spoqa Han Sans";
    font-weight : 200;
    src : url("../../css/fonts/SpoqaHanSansThin.woff2") format("woff2"),
        url("../../css/fonts/SpoqaHanSansThin.woff") format("woff"),
        url("../../css/fonts/SpoqaHanSansThin.ttf") format("truetype");
}

@font-face {
    font-family : "Spoqa Han Sans";
    font-weight : 300;
    src : url("../../css/fonts/SpoqaHanSansLight.woff2") format("woff2"),
        url("../../css/fonts/SpoqaHanSansLight.woff") format("woff"),
        url("../../css/fonts/SpoqaHanSansLight.ttf") format("truetype");
}


@font-face {
    font-family : "Spoqa Han Sans";
    font-weight : 400;
    src : url("../../css/fonts/SpoqaHanSansRegular.woff2") format("woff2"),
          url("../../css/fonts/SpoqaHanSansRegular.woff") format("woff"),
          url("../../css/fonts/SpoqaHanSansRegular.ttf") format("truetype");
}

.areaChart{
    margin-left : 0px;
    width: 400px;
}
h1 {
    font-family : "Spoqa Han Sans, arial, helvetica, sans-serif";
}